<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width:100%;position:relative;">
<video id="myVideo" class="video-player"  autoplay="autoplay"  controls="controls"  height="630px" width="100%">
    <source id="myVideo1" src="../video/4.mp4" type="video/mp4">
</video>
</div>
</body>
<script>
    var md = document.getElementsByTagName("video")[0];
    var s = Array("../video/1.mp4", "../video/2.mp4", "../video/3.mp4", "../video/4.mp4");//路径
    var s1 = 0;
    md.addEventListener("ended", function () {//属性返回音频/视频是否已结束。
        md.load();//重新加载视频元素。
        document.getElementById('myVideo1').src = '' + s[s1] + '';//清空路径
        s1++;
        if (s1 == s.length) {
            s1 = 0;
        }
    })
</script>
</html>