<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <style>
        .demo-side {
            position: relative;
            transition: all .3s;
        }

        .demo-side.show {
            padding-left: 120px;
            position: relative;
        }

        .demo-side:before {
            content: "假设这是侧边栏, treeTable使用了与layui数据表格完全不同的列宽分配方式, 由浏览器来分配, 所以当容器宽度变化后会自动适应, 对单页面系统非常友好";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -90px;
            width: 105px;
            visibility: hidden;
            line-height: 1.5;
        }

        .demo-side.show:before {
            visibility: visible;
        }

    </style>
</head>
<body>
<div class="page-wrapper" style="margin-top: 10px;">
    <div class="layui-btn-container" style="display: inline-block;">
        <button id="btnReload" class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="layui-icon">&#xe666;</i>重载
        </button>
        <button id="btnRefresh" class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="layui-icon">&#xe669;</i>刷新
        </button>
        <button id="btnGetChecked" class="layui-btn layui-btn-sm layui-btn-primary">获取选中</button>
        <button id="btnToggleSide" class="layui-btn layui-btn-sm layui-btn-primary">演示侧边栏</button>
    </div>
    <div class="layui-btn-container" style="display: inline-block;">
        <button id="btnExpandAll" class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="layui-icon">&#xe668;</i>展开全部
        </button>
        <button id="btnFoldAll" class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="layui-icon">&#xe66b;</i>折叠全部
        </button>
    </div>
    <input class="layui-input" id="edtSearch" value="" placeholder="输入关键字"
           style="display: inline-block;width: 140px;height: 30px;line-height: 30px;padding: 0 5px;margin-right: 5px;"/>
    <div class="layui-btn-container" style="display: inline-block;">
        <button id="btnSearch" class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="layui-icon">&#xe615;</i>搜索
        </button>
        <button id="btnClearSearch" class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="layui-icon">&#x1006;</i>清除搜索
        </button>
    </div>

    <!--                表格-->
    <div class="demo-side">
        <table id="demoTreeTb"></table>
    </div>

</div>

<div class="layui-form"  id="deptSaveForm" style="display:none;">
    <form class="layui-form layui-form-pane" action="" style="padding-top: 20px;padding-left: 60px">
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单：</label>
            <div class="layui-input-inline layui-input-block" style="margin-left: 0px">
                <input value="无" type="text" id="fatherName_s" lay-verify="required" name="fatherName" disabled placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部门：</label>
            <div class="layui-input-inline layui-input-block" style="margin-left: 0px">
                <input type="text" name="parentId" id="tree" lay-filter="tree" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item" >
            <div class="layui-input-block" style="margin-left:60px;margin-top: 20px">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="savedeptForm" style="margin-left:0">确认</button>
                <button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tbBar">
    <a class="layui-btn layui-btn layui-btn-xs" lay-event="add">查看</a>
</script>


<script>

    // 使用树形表格js
    layui.config({
        base: '/layui/lay/modules/'      //自定义layui组件的目录
    }).extend({ //设定组件别名
        treeTable:   'treeTable',
        treeSelect:  'treeSelect',
    });


    var form=layui.form;
    var table=layui.table;
    var parentId_s="";//添加父级id
    var parentId_e="";//编辑父级id
    var deptId_e="";

    //渲染下拉框
    form.render("select");

    //获取时间
    function getNowTimeStr() {
        var now = new Date();
        return now.toLocaleDateString().replace(/\//g, "-") + " " + now.toTimeString().substr(0, 8);
    }

    // JS请求加载数据及设置表格样式
    layui.use(['layer', 'util', 'treeTable'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var util = layui.util;
        var treeTable = layui.treeTable;
        $('body').removeClass('layui-hide');

        // 渲染表格
        var insTb = treeTable.render({
            elem: '#demoTreeTb',
            url: 'showDept',
            toolbar:false,
            height: 'full-20',
            tree: {
                iconIndex: 2, //树形图标显示在第几列
                isPidData: true,
                idName: 'deptId', //id字段的名称
                pidName: 'parentId' //父级节点字段
            },
            cols: [
                [
                    {type: 'numbers'},
                    {type: 'checkbox'},
                    {field: 'deptName', title: '菜单名称', minWidth: 60},
                    {
                        title: '菜单图标', align: 'center', hide: true,
                        templet: '<p><i class="layui-icon {{d.menuIcon}}"></i></p>'
                    },
                    {
                        title: '创建时间', field: 'createTime',align: 'center', width: 240
                    },
                    {align: 'center', toolbar: '#tbBar', title: '操作', width: 200}
                ]
            ],
            style: 'margin-top:0;'
        });

        layui.use(["treeSelect", "form", "tree"], function () {
            var treeSelect = layui.treeSelect;
            treeSelect.render({
                // 选择器
                elem: '#tree',
                // 异步获取下拉树需要显示的数据
                data: 'showDept2',
                // 异步加载方式：get/post，默认get
                type: 'get',
                // 占位符
                placeholder: '上级菜单',
                // 是否开启搜索功能：true/false，默认false
                search: true,
                // 一些可定制的样式
                style: {
                    folder: {
                        enable: true
                    },
                    line: {
                        enable: true
                    }
                },
                // 点击节点回调
                click: function(d){
                },
                // 加载完成后的回调函数
                success: function (d) {
                }
            });
        });

        // 操作列点击事件
        treeTable.on('tool(demoTreeTb)', function (obj) {
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            deptId_e = data.deptId;
            if(data.fatherName==null){
                data.fatherName = "主目录";
            }
            if (layEvent === 'add') {
                layer.open(
                    {
                        type: 1,
                        content: $("#deptSaveForm"),
                        icon: 1,
                        title:"选择部门",
                        area: ['470px', '430px']
                    }
                )
            }
        });

        //双击重置按钮
        var i=null;
        $('#reset').click(function () {
            $("#fatherName_s").val(i);
        });
        var a=null;
        //双击重置按钮
        $('#reset1').click(function () {
            $("#fatherName_e").val(a);
        });
        // 全部展开
        $('#btnExpandAll').click(function () {
            insTb.expandAll();
        });

        // 全部折叠
        $('#btnFoldAll').click(function () {
            insTb.foldAll();
        });

        // 搜索
        $('#btnSearch').click(function () {
            var keywords = $('#edtSearch').val();
            if (keywords) {
                insTb.filterData(keywords);
            } else {
                insTb.clearFilter();
            }
        });

        // 清除搜索
        $('#btnClearSearch').click(function () {
            insTb.clearFilter();
        });

        // 重载
        $('#btnReload').click(function () {
            insTb.reload();
        });
        $('#btnRefresh').click(function () {
            insTb.refresh();
        });

        // 获取选中
        $('#btnGetChecked').click(function () {
            layer.alert('<pre>' + JSON.stringify(insTb.checkStatus().map(function (d) {
                return {
                    deptName: d.deptName,
                    deptId: d.deptId,
                    LAY_INDETERMINATE: d.LAY_INDETERMINATE
                };
            }), null, 3) + '</pre>');
        });

        // 演示侧边栏
        $('#btnToggleSide').click(function () {
            $('.demo-side').toggleClass('show');
        });

    });
</script>
</body>
</html>